body {
    background-image: url('/img/body.png');
}

body.body-1 {
    background-color: var(--body-1);
    transition: 1s;
}

body.body-2 {
    background-color: var(--body-2);
    transition: 1s;
}

body.body-3 {
    background-color: var(--body-3);
    transition: 1s;
}

body.body-4 {
    background-color: var(--body-4);
    transition: 1s;
}

body.body-5 {
    background-color: var(--body-5);
    transition: 1s;
}
