main {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#devices-list .device {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 3rem;
    gap: 1rem;
}

#devices-list .device .device__left h2 span {
    margin-right: .5rem;
    color: #00000099;
}

#devices-list .device img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* @media(max-width: ) {

} */
